
Temp/workerlic
Temp/UnityLockfile
Temp/FSTimeGet-ff5c91f0447c74c4c9f488cd3be5e2c4
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker0-prev.log
Library/SourceAssetDB
Library/Search/transactions.db
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/SceneVisibilityState.asset
Library/PackageManager/ProjectCache.md5
Library/PackageManager/ProjectCache
Library/ilpp.pid
Library/EditorInstance.json
Library/Bee/TundraBuildState.state.map
Library/Bee/TundraBuildState.state
Library/Bee/tundra.log.json
Library/Bee/tundra.digestcache
Library/Bee/fullprofile.json
Library/Bee/buildprogram0.traceevents
Library/Bee/backend2.traceevents
Library/Bee/backend1.traceevents
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.UI.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.UI.rsp2
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.TestRunner.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/UnityEngine.TestRunner.rsp2
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.UI.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.UI.rsp2
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.TestRunner.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/UnityEditor.TestRunner.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VSCode.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VSCode.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualStudio.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualStudio.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.State.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Shared.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Shared.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.SettingsProvider.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.SettingsProvider.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Flow.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.VisualScripting.Core.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Timeline.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TextMeshPro.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.Settings.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Settings.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.Rider.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Rider.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.PlasticSCM.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.PlasticSCM.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.Performance.Profile-Analyzer.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.Performance.Profile-Analyzer.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.EditorCoroutines.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.EditorCoroutines.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Unity.CollabProxy.Editor.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Unity.CollabProxy.Editor.rsp2
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.UnityAdditionalFile.txt
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.pdb
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.dll
Library/Bee/1900b0aE.dag_fsmtime
Library/Bee/1900b0aE.dag.payloads
Library/Bee/1900b0aE.dag.outputdata
Library/Bee/1900b0aE.dag.json
Library/Bee/1900b0aE.dag
Library/Bee/1900b0aE-inputdata.json
Library/Artifacts/fa/fa34c29917078b4f865af97aefcd0fa1
Library/Artifacts/f7/f79d49302cf12dac4a882e2fa7a43b94
Library/Artifacts/f1/f1b1c72894160e439b3c0bdc9c4205f0
Library/Artifacts/e6/e63833c175bdd9aba73e3f694b223f8b
Library/Artifacts/de/de1d9ff81102676c3461109b874b2527
Library/Artifacts/dd/dd87faf8569d8b49238bfa73aad70f6f
Library/Artifacts/d0/d02a1890db63a47f6a25fdfba580b00c
Library/Artifacts/bc/bcd6582c297ea4d9b430103bb2f0d301
Library/Artifacts/b0/b0f597d1e32e79c695fa1576076ac0e9
Library/Artifacts/85/85d725b2756f4ba8701e4385f0d21c5f
Library/Artifacts/72/7267cf20090b8c0731d78ae5c0af45c9
Library/Artifacts/65/65bd6220250212c77692f72bec770f2b
Library/Artifacts/59/59b157681310ad94e659c5be83d32f99
Library/Artifacts/36/36cf7c681e365ad7d2337aae91d32a77
Library/Artifacts/35/35d361a2b33ddde28651f5b9cf6ed3e1
Library/Artifacts/1b/1ba3df901e8c30c4384bb299483d5e33
Library/Artifacts/15/155d6ad59c4d1a3fa4594481edce5b29
Library/Artifacts/13/137ceb95270a26d0dbe465b5b22d75e9
Library/Artifacts/05/054b9e188e25a7364d490cbcbd67956b
Library/Artifacts/01/011c94e99cfe932e8e4d06ee737a1ab0
Library/ArtifactDB
Assembly-CSharp.csproj
